.AddFood{
    padding-top: 25px;
    margin-bottom: 15em;
    display: flex;
    justify-content: center;
    text-align: center;
}
.AddFood form{
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 40vw;
    gap: 10px;
    padding: 5px 0;
}

.AddFood input{
    padding: 10px;
}