.form-container {
    margin: 4em 6em;
    color: #222;
}

.form-container form {
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.form-container input {
    height: 2.5em;
    padding: 0 1em;
    margin-bottom: 1.7em;
    border-radius: .3em;
    border: 1px solid #2a2a2a;
}

.form-container textarea {
    padding: 1em;
    margin-bottom: 1.7em;
    border-radius: .3em;
    border: 1px solid #2a2a2a;
}

.form-container button {
    display: inline;
}

@media screen and (max-width: 850px) {
    .form-container{
        margin: 4em 2em
    }

    .form-container form {
        padding-top: 2em;
        width: 90%;
    }
}